build/
yotta_modules/
yotta_targets/
.yotta.json
.build/
mbed_settings.py
.vscode/c_cpp_properties.json
.vscode/settings.json
mbed_settings.pyc
mbed-os
mbed-client-cli
shields/TARGET_CORDIO_BLUENRG
shields/TARGET_ST_BLUENRG

# clion 
.idea
cmake-*/
